$navbar-dark-color: white; // Set navbar text to white to increase contrast
$blue: #496bb8 !default; // Override breadcrumb and sidebar text color to increase contrast
$primary: #313671 !default;

$dark: black;

$success: #1f224b !default;

$google_font_name: "Montserrat";
$google_font_family: "Montserrat:300,300i,400,400i,700,700i";