<script src="/js/w3.js" type="application/x-javascript"></script>

<!-- If the site hosts multiple versions of the docs, set the canonical url to the latest -->
{{ if .Site.Params.version_menu_canonicallinks }}
    {{ if and .Site.Params.url_latest_version .Site.Params.versions }}
    {{ range first 1 .Site.Params.versions }}
        <link rel="canonical" href="{{ $.Site.Params.url_latest_version }}{{ with $.Page.File }}{{ .Dir }}{{ end }}" />
    {{ end }}
    {{ end }}
{{ end }}

{{ if .Site.Params.offlineSearchPagefind -}}
<!-- Needed to highlight search keyword on the result page -->
<script
  src="/pagefind/pagefind-highlight.js"
    type="application/x-javascript"></script>
    <script type="module">
        await import('/pagefind/pagefind-highlight.js');
        new PagefindHighlight({ highlightParam: "highlight" });
    </script>
{{ end -}}

<!-- Script for cookie-consent banner (https://www.sprucejoy.com/resources/cookie-consent-gdpr/) -->
<script>
  window.__SJ_MESSAGE__ =
    'We collect cookies to analyze our website traffic and performance. We never collect any personal data.'
  window.__SJ_ACCEPT_BTN_TEXT__ = 'Accept'
  window.__SJ_REJECT_BTN_TEXT__ = 'Reject'
</script>
<script
  src="https://cdn.jsdelivr.net/gh/sprucejoy/cookie-consent-autoblock-gdpr/cookie-consent.js"
  crossorigin="anonymous"
></script>
